<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Lab2RoutingNavigationConfigure 2a 2bCustomHelpers - <a asp-area="" asp-controller="Account" asp-action="Login">GoToLab</a>
    </div>
</footer>