
@{
    ViewData["Title"] = "Index";
}

<style>
    .loginmsg{
        color:blue;
    }

</style>

<h4>Area User Home Index Dashboard</h4>

<div class="loginmsg">
    <h4>  @ViewBag.loginmsg </h4>
</div>