<footer class="border-top footer text-muted">
<div class="container">
        copyright -PoweredBy Deepika Prasad- 2024 -  <a asp-area="User" asp-action="UserProfile" asp-controller="Home">Privacy</a>
    </div>
</footer>